.card {
    /* Add shadows to create the "card" effect */
    border: none !important;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

/* Add some padding inside the card container */
.container-card {
    padding: 2px 16px;
    background-color: rgb(59, 59, 59);
    color: azure;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

#link{
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }